// Primary Colors

$yesware_green: #8DC23C;
$yesware_blue: #29ABE2;
$yesware_orange: #FAA41D;
$yesware_purple: #BE69C4;

// Secondary Colors

$yesware_stone_gray: #7F8A8C;
$yesware_black_gray: #979797;
$yesware_red: #E74C3C;

// Extended Color Palette

$yw_green_50: #FAFDF5;
$yw_green_100: #F2FAE6;
$yw_green_200: #C6E794;
$yw_green_300: $yesware_green;
$yw_green_400: #629D1A;
$yw_green_500: #457111;

$yw_blue_50: #F7FCFD;
$yw_blue_100: #ECF7FB;
$yw_blue_200: #A4DDF2;
$yw_blue_300: $yesware_blue;
$yw_blue_400: #1B83BD;
$yw_blue_500: #0D5E8C;

$yw_orange_50: #FFFBF5;
$yw_orange_100: #FFF5E6;
$yw_orange_200: #FFCF85;
$yw_orange_300: $yesware_orange;
$yw_orange_400: #D66B00;
$yw_orange_500: #724417;

$yw_purple_50: #FDF9FD;
$yw_purple_100: #FAF0FB;
$yw_purple_200: #EDB0F1;
$yw_purple_300: $yesware_purple;
$yw_purple_400: #A042A6;
$yw_purple_500: #6E1A74;

$yw_red_50: #FFFAFA;
$yw_red_100: #FFF0EF;
$yw_red_200: #FFB6AF;
$yw_red_300: $yesware_red;
$yw_red_400: #D02212;
$yw_red_500: #AB1002;

$yw_stone_100: #F5F5F7;
$yw_stone_200: #D7DBDE;
$yw_stone_250: #A4A9AD;
$yw_stone_300: $yesware_stone_gray;
$yw_stone_400: #576264;
$yw_stone_500: #333839;

$yw_gray_100: #F7F7F7;
$yw_gray_150: #EDEDED;
$yw_gray_200: #DADADA;
$yw_gray_300: $yesware_black_gray;
$yw_gray_400: #666666;
$yw_gray_500: #323232;

// Other Colors
$white: #FFFFFF;
